<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAB Recommender</title>
    <link href="{{url_for('static', filename='styles/style2.css')}}" rel="stylesheet" />
</head>
<body>
    <h1>Here are our recommendations for your project!</h1> 
    <!-- <p> Here are our recommendations for your project!</p> -->


    {% if user_inputs %}
    <div class="user-input-list">
        <h4>Your Inputs:</h4>
        <ul>
            {% for label, value in user_inputs.items() %}
                <li><strong>{{ label }}:</strong> {{ value }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div class="image-container">
        <h2>Performance Curves</h2>
        <img src="{{ plot_path }}" alt="Performance Curves" > 
    </div>
   
    <!-- width="300" height="200" -->

    {% if recommendations %}
    <h3>Recommended for you:</h3>
    <ul class="recommendation-list">
        {% for item in recommendations %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- <form action="/recommend"> 
        <input type="text" id="n_rep" name="n_rep" placeholder="Enter arm names separated by commas and a space" required>
        <label for="n_rep">Number of Reps:</label>
        <input type="number" id="n_arms" name="n_arms" min="2" required>
        <label for="n_arms">Number of Arms:</label>
        <input type="number" id="horizon" name="horizon" min="1" required>
        <label for="horizon">Horizon (number of rounds):</label>
        <button type="submit">Get Recommendation</button>
    </form>
</body>
</html> -->